.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}

#user {
    font-weight: bold;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}